

// Fonts:-

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Monda:wght@400;700&family=Open+Sans:wght@400;600;700;800&family=Questrial&family=Roboto:wght@400;500;700;900&display=swap');

$font-comforta: 'Comfortaa', cursive;   //Primary Font
$font-openSans:'Open Sans', sans-serif;
$font-monda: 'Monda', sans-serif;
$font-questrial: 'Questrial', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Colors

$pri-color: #fdf0e4;
$sec-color: #74472e;
$walnut-brown: #b49855;
$activeTab: #e9d8c17c;
$activeTab-grey: #bbbbbb9c;
$active-border: #a84b3a;
$light-grey: #e4e4e4a8;

$handle:#2a5569; 

//Gradients
$GradBgImg1:linear-gradient(120deg, #f1d885a4 0%, #c26147bb 100%);
$GradBgImg2:linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
$GradBgImg3:linear-gradient(135deg, #fcdbba8f 0%, #966043b2 100%); //About
$Grad-PremBlack: linear-gradient(120deg, #292929 40%, black 90%);//footer
$Grad-lake: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);


// breakpoints
$min-mobile: 350px;
$max-mobile: 600px;

$min-tab: 600px; // portrait tablet
$max-tab: 1024px;

$min-desktop: 1024px;

$LapS: 1024px;
$LapL: 1360px; // for min width


//color for Social Media Icons
$facebook-color:#4267B2;
$instagram-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$twitter-color:#00acee;
$linkedin-color: #1b7aa7;