

// Fonts:-

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Monda:wght@400;700&family=Open+Sans:wght@400;600;700;800&family=Questrial&family=Roboto:wght@400;500;700;900&display=swap');

$font-comforta: 'Comfortaa', cursive;   //Primary Font
$font-openSans:'Open Sans', sans-serif;
$font-monda: 'Monda', sans-serif;
$font-questrial: 'Questrial', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Colors

$extra-color: #1A579E;
$pri-color: rgb(253, 240, 228);
$sec-color: #744d36;



// breakpoints
$min-mobile: 350px;
$max-mobile: 600px;

$min-tab: 600px; // portrait tablet
$max-tab: 900px;

$min-desktop: 900px;


//color for Social Media Icons
$facebook-color:#4267B2;
$instagram-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$twitter-color:#00acee;
$linkedin-color: #1b7aa7;