@import 'config';
@import 'some';

.project-tab{
    // background-color: hotpink;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

    h3{
        // background-color: burlywood;
        width: 32%;
        height: 40px;
        font-size: 0.7em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: auto;
        cursor: pointer;

        &:hover{
            border-bottom: 2px solid $active-border;
            background-color: rgba(233, 216, 193, 0.486);
        }
    }
    @media screen and (min-width:$min-tab) and (max-width:$max-tab) {
        width: 60%;

        h3{
            width: 30%;
            height: 50px;
            font-size: 0.8em;
        }
    }

    @media screen and (min-width: $min-desktop) {
        width: 50%;

        h3{
            height: 60px;
            font-size: 1em;
        }
    }
}

.project-container{
    background-color: $light-grey;
    width: 100vw;
    height: 75vh;
    margin: 20px auto 30px auto;

    @media screen and (min-width: $min-tab) {
        width: 95vw;
        height: 38vw;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 2.3fr;

        .prj-content{
            padding: 20px 5px 20px 10px;
            width: 100%;
            height: 38vw;

            .content{
                padding: 10px 0px;

                h5{
                    padding: 15px 10px;
                    margin: 20px 10px 20px 5px;
                }
            }
        }
    }
    // To adjust the footer in prj page at this breakpoint
    @media screen and (min-width: $min-tab) and (max-width:$max-tab){
        margin: 30px auto 100px auto;
    }

    .prj-content{
        // background-color: pink;
        padding: 5px;
        width: 100%;

        .content{
            // background-color: violet;
            display: none;
            width: 100%;

            h5{
                border-bottom: 1.5px solid darkgray;
                padding: 10px 10px;
                font-weight: bold;
                cursor: pointer;
                // background-color: rosybrown;

                &:hover{
                    border-bottom: 1.5px solid;
                }
            }
        }
    }

    .crsl-wrap{
        // background-color: aquamarine;
        width: 100%;
        height: 37vw;
        padding-right: 10px;
        position: relative;
        display: none;
        @media screen and (min-width: $min-tab){
            display: block;
        }

        .arrow{
            position: absolute;
            top: 50%;
            color: black;
            font-size: 2em;
            cursor: pointer;
            transition: all 0.3s ease;
            @media screen and (min-width: $LapL) {
                font-size: 2.6em;
            }

            &:hover{
               transform: scale(1.2);
               color: rgba(0, 0, 0, 0.829);
            }
        }
        #arrow-left{
            left: 0;
            justify-content: flex-start;
        }
        #arrow-right{
            right: 10px;
            justify-content: flex-end;
        }
        .slider-container{
            // background-color: bisque;
            width: 100%;
            height: 100%;
            padding: 20px;
            // border-radius: 0px 20px 20px 0px;
            display: none;
            // overflow: hidden;

            .slide{
                // background-color: powderblue;
                width: 100%;
                height: 100%;
                display: none;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            @media screen and (min-width:$min-desktop) {
                padding: 30px;
            }

        } 
    }
}