.project-container{
    // background-color: greenyellow;
    width: 100vw;

    .project-head{
        // background-color: hotpink;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;

        h3{
            // background-color: burlywood;
            display: block;
            padding: 20px 25px;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &:hover, &:active{
                border-bottom: 2px solid brown;
                background-color: rgba(233, 216, 193, 0.486);
                border-top-left-radius: 1.5em;
                border-top-right-radius: 1.5em;
            }
        }
    }

    .prj-detail-container{
        background-color: lightgray;
        width: 80vw;
        height: 35vw;
        margin: 10px auto 20px auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-radius: 40px;

        .project-detail{
            padding: 30px;
            border-right: 2px solid rgb(170, 117, 47);

            h5{
                border-bottom: 1px solid darkgray;
                padding: 10px 20px;
            }
        }
    }
}