@import 'config';
@import 'some';

*{
   box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: $font-comforta;
    line-height: 1.3em;
    background-color: $pri-color;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

// Custom Scrollbar
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: $sec-color;
    border-radius: 10px;
}

#loader{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border: 10px solid $activeTab-grey;
    border-top: 10px solid $walnut-brown;
    border-radius: 50%;
    animation: spin 2s linear infinite; 

    @media screen and (min-width: $min-tab) {
        width: 150px;
        height: 150px;
        border: 15px solid $activeTab-grey;
        border-top: 15px solid $walnut-brown;
        margin: -75px 0 0 -75px;
    }
}
@keyframes spin{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes showUp{
    0%{bottom: -200px; opacity: 0;}
    100%{bottom: 0px; opacity: 1;}
}
.mother-container{
    display: block;
    position: relative;
    transition: margin-top 0.5s;
    animation: showUp 1s linear;
    
    @media screen and (min-width:$min-desktop){
        scroll-behavior: smooth;
    }

    nav{
        // background-color: cyan;
        z-index: 5;
        padding-top: 10px;
        width: 100vw;
        height: 80vw;
        background-image: $GradBgImg3;
        background: url(../Assets/Images/ImgTag_Architecture.jpg) no-repeat;
        background-size: 100% 100%;

        @media screen and (min-width:$min-desktop){
            background: none;
        }
        @media screen and (min-width:$min-tab) and (max-width:$max-tab){
            height: 100vh;
        }
        .site-name{
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            font-size: 1.7em;
            // background-color: chartreuse;

            @media screen and (min-width:$min-desktop){
                font-size: 2em;
                top: 10px;
            }

            a{
                // background-color: chocolate;
                display: block;
                padding: 20px;
                transition: all 0.3s;

                &:hover{
                    color: rgba(80, 80, 80, 0.534);
                }
            }
        }

        .menu-desktop{
            display: none;
            margin: 5px 20px;

            div{
                // background-color: burlywood;
                display: flex;
                justify-content:space-evenly;
                align-items: center;
                float: right;
                width: 50%;
                height: 100%;
                font-size: 1.3em;
                font-weight: bold;
            }

            @media screen  and (min-width:$min-desktop){
                display: block;
                a{
                    // background-color: chartreuse;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 50px;
                }
                a:hover{
                    border-bottom: 2px solid;
                    border-color: $active-border;
                }
            }

        }
        .ham-menu-wrap{
            display: block;
            // background-color: burlywood;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;

            @media screen and (min-width:$min-tab) and (max-width:$max-tab){
                width: 80px;
                height: 80px;
            }
            @media screen and (min-width:$min-desktop){
                display:none;
            }

            .menu-open{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;

                div{
                    @include ham-lines();
                    position: relative;
                }
                div::before, div::after{
                    content: '';
                    @extend div; // or can use @include ham-lines here
                    position: absolute;
                    top: -7px;
                }
                div::after{
                    top: 7px;
                }
                @media screen and (min-width:$min-tab){
                    div::before{top: -10px;}
                    div::after{top: 10px;}
                }
            }

            .top-nav{
                position: fixed;
                width: 100%;
                height: 0;  // adjust by javaScript
                top: 0;
                left: 0;
                background-color: $walnut-brown;
                z-index: 10;
                overflow: hidden;
                transition: height 0.5s;

                
                @media only screen and (min-width:$min-tab) and (max-width: $max-tab){
                    overflow-y: scroll;
                }
                
                // for every a tag inside it, even in the subtags.
                a{
                    display: block;
                    color: $pri-color;
                    padding: 15px;
                    // background-color: burlywood;

                    @media only screen and (min-width:$min-tab) and (max-width: $max-tab){
                        border-bottom: 1px solid $sec-color;
                        font-size: 0.9em;
                    }

                    p{
                        display: none;
                        font-size: 0.5em;

                        @media only screen and (min-width:$min-tab) and (max-width: $max-tab){
                            display: block;
                        }
                    }
                }

                .close-btn{
                    display: none;
                    position: fixed;
                    top: 15px;
                    right: 20px;
                    font-size: 2em;
                    font-weight: bold;
                    // background-color: coral;

                    @media only screen and (min-width:$min-tab) and (max-width: $max-tab){
                        border-bottom: none;
                        font-size: 3em;
                    }
                }

                .menu-content{
                    // background-color: brown;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    margin-top: 60px;
                    text-align: center;
                    font-size: 1.2em;

                    @media only screen and (min-width:$min-tab) and (max-width: $max-tab){
                        font-size: 1.7em;
                        margin-top: 70px;
                    }

                }
            }
        }
    }
    /* ---- X---- Navbar ----X----- */

    main{
        // background-color: pink;
        transition: margin-top 0.5s;

        section{
            width: 100vw;

            .services{
                width: 100%;
                // background-color: coral;
                position: relative;
                overflow: hidden;

                #bgservice{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 125%;
                    height: 100%;
                    z-index: 0;
                    opacity: 0.4;
                    @media screen and (min-width: $min-tab) {
                        width: 120%;
                    }
                    @media screen and (min-width: $min-desktop){
                        width: 100%;
                    }
                }

                .services-name{
                    width: 100%;
                    height: 100%;
                    padding: 70px 0 70px 0px;
                    position: relative;
                    z-index: 2;
                    // background-color: yellow;

                    h5{
                        @include section-heading;
                        font-size: 1em;
                        font-weight: bold;
                    }
    
                    #ser-container-desk{
                        display: flex;
                        flex-wrap: wrap;
                        width: 70%;
                        // background-color: blue;
                        margin: 0px auto 0px auto;
                        .serv{
                            width: 100%;
                            text-align: center;
                            overflow: hidden;
                            @media screen and (min-width:$min-desktop){
                                width: 40%;
                                height: 40%;
                            }
    
                            h4{
                                font-size: 1em;
                                @media screen and (min-width:$min-desktop){
                                    font-size: 1.3em;
                                }
                            }
                            p{
                                font-size: 0.8em;
                                text-align: center;
                                padding: 0px 30px;
                                font-weight: bold;
                                
                                @media screen and (min-width:$min-tab) and (max-width:$max-tab){
                                    padding: 0px 80px;
                                }
                            }
                            .serv-mob{
                                @media screen and (min-width:$min-desktop) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .service-details{
                    width: 100%;
    
                    .detail{
                        display: none;
                    }
                }
            }
            /* ------ End of Services -----*/

            /* -------- Projects ---------- */
            .project{
                // background-color: chocolate;
                padding: 30px;

                h5{
                    @include section-heading;
                }
                .proj-mob-container{
                    width: 70vw;
                    height: 50vw;
                    margin: 10px auto 10px auto;
                    position: relative;
                    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    div{
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: #a07054c4;
                        width: 30%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    i{
                        color: white;
                        font-size: 2em;

                        @media screen and (min-width:$min-tab) and (max-width:$max-tab){
                            font-size: 3em;
                        }
                    }
                    

                    @media screen and (min-width:$min-desktop) {
                        display: none;
                    }
                }

            }
            
            /* ------End of Projects ------- */

            /* ---------- About --------- */
            .about{
                // background-color: yellow;
                // background-image: $GradBgImg3;
                overflow: hidden;
                position: relative;
                padding: 20px;
                @media screen and (min-width:$min-tab){
                    padding: 40px 0 100px;
                }
                #aboutBg{
                    position: absolute;
                    top: 10;
                    left: -20px;
                    width: 110%;
                    height: 105%;
                    opacity: 0.2;
                    z-index: 0;
                    @media screen and (min-width:$min-tab){
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 120%;
                    }
                    // @media screen and (min-width: $min-desktop){
                    //     display: none;
                    // }

                }
                .about-container{
                    position: relative;
                    z-index: 2;

                    h5{
                        @include section-heading;
                    }
                    .abt-heads{
                        // background-color: yellow;
                        display: none;  // make it flex
                        width: 40%;
                        margin-left: auto;
                        margin-right: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        @media screen and (min-width:1200px) {
                            width: 30%;
                        }
    
                        .abtTab{
                            // background-color: powderblue;
                            display: none;
                            width: 45%;
                            height: 50px;
                            padding: 15px;
                            text-align: center;
                            cursor: pointer;
    
                            &:hover{
                                background-color: $activeTab;
                                border-bottom: 2px solid;
                                border-color:$active-border;
                            }
                        }
                    }
                    #mob-para{
                        // background-color: lightblue;
                        // margin: 5px 20px;
                        padding: 10px 20px;
                        text-align: center;
                        font-size: 0.8em;
                        font-weight: 700;
    
                        @media screen and (min-width:$min-tab) and (max-width:$max-tab){
                            padding: 0px 80px;
                        }
                    }
                    #abt-detail-container{
                        background-color: $light-grey;
                        display: none;
                        width: 70%;
                        height: 15vw;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 20px;
                        text-align: center;
                        border-radius: 20px;
    
                        @media screen and (min-width:1250px) {
                            padding: 30px 50px;
                            // height: 15vw;
                        }
    
                        @media screen and (min-width:900px) and (max-width:1100px) {
                            width: 75%;
                            height: 20vw;
                            padding: 10px 50px; 
                        }
    
                        .abt-detail{
                            display: none;
                            width: 100%;
                            line-height: 2em;
                        }
                    }
    
                    @media screen and (min-width:$min-desktop) {
                        .abt-heads{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
    
                            .abtTab{
                                display: block;
                            }
                        }
                        #mob-para{
                            display: none;
                            // font-size: 1.1em;
                        }
                        #abt-detail-container{
                            display: block;
                        }
                    }
                }
            }

            /* ----- End of About -------- */
        }
        /* -------- End of SECTION ------- */

        
    }
}
